
@{
    ViewBag.Title = "Home";
}

<h2>Small Introduction</h2>
<b>Select your option from the below...</b>
<br />
<div style="background-color: antiquewhite">
    <a style="padding-left: 15px" href="/HomePage/Home">Home</a>
    <a style="padding-left: 15px" href="/HomePage/SmallProfile">Profile</a>
    <a style="padding-left: 15px" href="/HomePage/Qualification">Qualifications</a>
    <a style="padding-left: 15px" href="/HomePage/Projects">Projects</a>
    <a style="padding-left: 15px" href="/HomePage/References">References</a>
</div>
<br />

<div align="center" style="background-color: aquamarine;">

    <h3>Short Introduction</h3>
    <hr />
    <b>Name : </b>Kaushik Biswas<br />
    <b>Email: </b>biswaskaushik.2020@gmail.com<br />
    <b>About: </b>I am very hardworking, passionate and positive human being...<br />
    <br />
</div>

