
@{
    ViewBag.Title = "Projects";
}

<h2>Here is the Projects...</h2>

<b>Select your option from the below...</b>
<br />
<div style="background-color: antiquewhite">
    <a style="padding-left: 15px" href="/HomePage/Home">Home</a>
    <a style="padding-left: 15px" href="/HomePage/SmallProfile">Profile</a>
    <a style="padding-left: 15px" href="/HomePage/Qualification">Qualifications</a>
    <a style="padding-left: 15px" href="/HomePage/Projects">Projects</a>
    <a style="padding-left: 15px" href="/HomePage/References">References</a>
</div>
<br />

<div align="center" style="background-color: aquamarine;">
    <br />
    <h3>Projects:</h3>
    <hr />
    <b>Project Name    : </b> SPI (Student Progress Indicator)<br />
    <b>Project Language: </b> C++<br />
    <b>Project Details : </b> SPI is almost looks like a excel sheet to maintain the track of students result.
    <br /><hr /><br />
    <b>Project Name    : </b> RAW (Remotely Assistant Worker)<br />
    <b>Project Language: </b> JAVA<br />
    <b>Project Details : </b> It works like a freelancing website.
    <br /><hr /><br />
    <b>Project Name    : </b> RAW Version-1 (Remotely Assistant Worker)<br />
    <b>Project Language: </b> C#<br />
    <b>Project Details : </b> It works like a freelancing website.
    <br /><hr /><br />
    <b>Project Name    : </b> FOH (Fest Of Harmony)<br />
    <b>Project Language: </b> C++<br />
    <b>Project Details : </b> It is a natural view along with some movable components
    <br />
    <br />
</div>