
@{
    ViewBag.Title = "Qualification";
}

<h2>Educational Qualifications</h2>

<b>Select your option from the below...</b>
<br />
<div style="background-color: antiquewhite">
    <a style="padding-left: 15px" href="/HomePage/Home">Home</a>
    <a style="padding-left: 15px" href="/HomePage/SmallProfile">Profile</a>
    <a style="padding-left: 15px" href="/HomePage/Qualification">Qualifications</a>
    <a style="padding-left: 15px" href="/HomePage/Projects">Projects</a>
    <a style="padding-left: 15px" href="/HomePage/References">References</a>
</div>
<br />

<div align="center" style="background-color: aquamarine;">

    <h3>Educational Qualifications</h3>

    <table align="center" style="border:solid black 2px">
        <tr align="center">
            <td style="border:solid black 1px"> Exam Name </td>
            <td style="border:solid black 1px"> Institution </td>
            <td style="border:solid black 1px"> Passing Year </td>
            <td style="border:solid black 1px"> Board </td>
            <td style="border:solid black 1px"> CGPA </td>
        </tr>

        <tr align="center">
            <td style="border:solid black 1px"> PECE </td>
            <td style="border:solid black 1px"> Nasirabad Govt. High School </td>
            <td style="border:solid black 1px"> 2011 </td>
            <td style="border:solid black 1px"> Chittagong </td>
            <td style="border:solid black 1px"> 5.00 </td>
        </tr>

        <tr align="center">
            <td style="border:solid black 1px"> JSC </td>
            <td style="border:solid black 1px"> Nasirabad Govt. High School </td>
            <td style="border:solid black 1px"> 2014 </td>
            <td style="border:solid black 1px"> Chittagong </td>
            <td style="border:solid black 1px"> 5.00 </td>
        </tr>

        <tr align="center">
            <td style="border:solid black 1px"> SSC </td>
            <td style="border:solid black 1px"> Nasirabad Govt. High School </td>
            <td style="border:solid black 1px"> 2017 </td>
            <td style="border:solid black 1px"> Chittagong </td>
            <td style="border:solid black 1px"> 4.91 </td>
        </tr>

        <tr align="center">
            <td style="border:solid black 1px"> HSC </td>
            <td style="border:solid black 1px"> Milestone College </td>
            <td style="border:solid black 1px"> 2019 </td>
            <td style="border:solid black 1px"> Dhaka </td>
            <td style="border:solid black 1px"> 5.00 </td>
        </tr>

        <tr align="center">
            <td style="border:solid black 1px"> BSC in CSE </td>
            <td style="border:solid black 1px"> American International University-Bangladesh </td>
            <td style="border:solid black 1px"> 2020-Present </td>
            <td style="border:solid black 1px"> Null </td>
            <td style="border:solid black 1px"> Running </td>
        </tr>
    </table>
    <br />
</div>