
@{
    ViewBag.Title = "References";
}

<h2>References</h2>
<b>Select your option from the below...</b>
<br />
<div style="background-color: antiquewhite">
    <a style="padding-left: 15px" href="/HomePage/Home">Home</a>
    <a style="padding-left: 15px" href="/HomePage/SmallProfile">Profile</a>
    <a style="padding-left: 15px" href="/HomePage/Qualification">Qualifications</a>
    <a style="padding-left: 15px" href="/HomePage/Projects">Projects</a>
    <a style="padding-left: 15px" href="/HomePage/References">References</a>
</div>
<br />
<div align="center" style="background-color: aquamarine;">
    <b>There are no references yet to be shown...</b>    
</div>