
@{
    ViewBag.Title = "SmallProfile";
}

<h2>About Me</h2>

<b>Select your option from the below...</b>
<br />
<div style="background-color: antiquewhite">
    <a style="padding-left: 15px" href="/HomePage/Home">Home</a>
    <a style="padding-left: 15px" href="/HomePage/SmallProfile">Profile</a>
    <a style="padding-left: 15px" href="/HomePage/Qualification">Qualifications</a>
    <a style="padding-left: 15px" href="/HomePage/Projects">Projects</a>
    <a style="padding-left: 15px" href="/HomePage/References">References</a>
</div>
<br />

<div align="center" style="background-color: aquamarine;">

    <hr>
    <h3 style="padding-top: 10px"><i>Personal Information</i></h3>
    <hr>
    <b>Name          : </b>Kaushik Biswas<br />
    <b>Email         : </b>biswaskaushik.2020@gmail.com<br />
    <b>Mobile        : </b>017xxxxxxxx<br />
    <b>Marital Status: </b>Unmarried<br />
    <b>Religion      : </b>Hindu<br />
    <b>Nationality   : </b>Bangladeshi<br />
    <b>Date of Birth : </b>12<sup>th</sup> June, 2001<br />

    <hr>
    <h3><i>Family Background</i></h3>
    <hr>
    <b>Father's Name : </b>Sreekanta Biswas<br />
    <b>Email         : </b>sreekanta@gmail.com<br />
    <b>Mobile        : </b>017xxxxxxxx<br /><br />

    <b>Mother's Name : </b>Kakale Biswas<br />
    <b>Email         : </b>kakale@gmail.com<br />
    <b>Mobile        : </b>017xxxxxxxx<br /><br /><br /><br />


</div>